<!DOCTYPE html>
<html lang="en">
    <title> Plagiarism checker </title>
    <link rel = "icon" href = "https://i.pinimg.com/originals/85/a4/97/85a4977278051dd3fa4fd04bb59b7a99.png" type = "image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <style>
        body{
            font-family: 'Nunito';
            text-align: center;
            margin: 100px;
        }
    </style>
    <head>
    </head>
    <body>
        <div class="container">
            <h1>Thank you. You will recieve your mail shortly</h1>
        </div>
        <img src="../static/detective.gif">
    </body>
</html>
